// $navbar-default-bg: #08088A;

// @import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 2.0em;
  color: teal;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: blue;
  text-decoration: none;
}

#first_link {
  color: wheat;
  // font-size: 15px;
}

.articles-item {
  margin-top: 8pt;
  margin-right: 20pt;
  font-size: 1.2em;
}

#new_article_link {
  color: black;
  margin: 5pt;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('img1.png');
  background-size: cover;
  height: 500px;
  margin-top: 30px;
}

.jumbotron h1 {
  text-align: center;
  font-size: 5em;
  margin-bottom: 30px;
  font-weight: bolder;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

// .description {
//   margin-top: 0;
// }

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.article-font {
  font-size: 1.5em;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  color: teal;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
  font-size: 1.0em;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}

#the_link {
  color: wheat;
  margin-top: 10pt;
  font-size: 1.2em;
  // margin-right: 12pt;
}

#navbarDropdown {
  color: wheat;
  margin-top: -3pt;
  font-size: 1.2em;
}

.not-disabled {
  list-style: none;
  font-size: 1.0em;
}

.not-disabled a {
  color: wheat;
  font-size: 1.2em;
}

.dropdown_new {
  list-style: none;
  margin-top: 3pt;
  margin-left: 10pt;
}

.pagecenter {
  float: right;
}

.articles {
  list-style: none;
  color: wheat;
}

#logout_link
{
  margin-right: 15pt;
}

